<!-- Inicia menú --> 
<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <div class="c-sidebar-brand d-lg-down-none">
      <svg class="c-sidebar-brand-full" width="118" height="46" alt="MeLlenadeOrgullo">
        <use xlink:href="assets/brand/cobaev.svg#full"></use>
      </svg>
      <svg class="c-sidebar-brand-minimized" width="46" height="46" alt="MeLlenadeOrgullo">
        <use xlink:href="assets/brand/cobaev.svg#full"></use>
      </svg>
    </div>
    <ul class="c-sidebar-nav">
      <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="home">
          <svg class="c-sidebar-nav-icon">
            <use xlink:href="assets/@coreui/icons/sprites/free.svg#cil-speedometer"></use>
          </svg> Escritorio</a></li>
      <li class="c-sidebar-nav-title">Indicadores</li>
      <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="home">
          <svg class="c-sidebar-nav-icon">
            <use xlink:href="assets/@coreui/icons/sprites/free.svg#cil-drop1"></use>
          </svg> Contabilidad</a></li>
      <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="home">
          <svg class="c-sidebar-nav-icon">
            <use xlink:href="assets/@coreui/icons/sprites/free.svg#cil-pencil"></use>
          </svg> Financieros</a></li>
      
          <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="personal">
          <svg class="c-sidebar-nav-icon">
            <use xlink:href="assets/@coreui/icons/sprites/free.svg#cil-puzzle"></use>
          </svg> Recursos humanos</a>        
      </li>
      
    </ul>
    <!--<button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>-->
</div>
  <!-- Termina menú-->>